.designers-card-container{
    height: 80%;
    display: flex;
    width: 75%;
    flex-wrap: wrap;
    
    .card{
        margin: .5em;
        width: 22%;
        min-width: 200px;
        height: 350px;
        background: #000000;
        cursor: pointer;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.7em;
        background-size: cover;
        background-position: center;
    }
}
