.collection{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    ul{
        position: absolute;
         left: 0;
         top: 0;
         list-style: none;

         li{
             text-decoration: none;
         }
    }
}